@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Montserrat:wght@200;400;700&family=Work+Sans:ital,wght@0,100;0,200;1,300&display=swap");

body {
  background-color: rgb(13, 18, 37);
  font-family: Cinzel;
  letter-spacing: 2px;
  max-width: 1250px;
  margin: 0 auto;
  background: rgb(88, 72, 173);
  background: linear-gradient(
    90deg,
    rgba(88, 72, 173, 1) 25%,
    rgba(81, 66, 180, 1) 27%,
    rgba(255, 210, 5, 1) 54%,
    rgba(253, 29, 240, 0.9640449929971989) 79%
  );
}
.title__homepage {
}
.footer {
  margin: 20px;
}
.navigation {
  color: #ffffff;
  size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  margin: 20px;
}

/* .navigation__homepage {
  margin-right: 20px;
} */

.header__heading {
  color: #ffffff;
  text-align: center;
}
.header--js {
  margin: 20px;
}
.section__headings {
  color: #ffffff;
}
.section__headings::before {
  content: "💪";
  margin-right: 3px;
}
.section__headings::after {
  content: " ";
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
}
.article__paragraph {
  color: #ffffff;
  margin: 16px;
  font-size: 16px;
}

.navigation__homepage {
  color: #ffffff;
  cursor: pointer;
}

.profile_pic {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin: 20px 20px;
}
.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.hamburger {
  display: none;
}

@media (min-width: 362px) and (max-width: 1024px) {
  .grid__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 26px;
  }
  .footer {
    text-align: center;
    margin: 26px;
  }
  .navigation {
    size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  .navigationLink {
    padding: 16px;
    text-decoration: none;
  }
  /* .hamburger {
    display: none;
  } */
}
@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
  .navigationLink {
    display: block;
    color: #ffffff;
    padding: 0 0 16px;
    cursor: pointer;
  }

  .header {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    width: 100%;
    top: 0;
    min-height: 60px;
    position: fixed;
  }
  .header__heading {
    top: 0;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .profile_pic {
    display: block;
    width: 100%;
  }
  main {
    margin: 160px auto 0;
  }
  .navigation--open {
    display: block;
  }
}
